html {
    font-family: "Helvetica", "Arial", sans-serif;
    background: #f8f8f8;
    padding: 20px;
    color: #444;
    font-family: "Chivo", Helvetica;
}

.ui-tabs-hide {                                                                               display: none;
}

.ui-tabs-nav {
    display: block;
    background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f7f7f7));
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.ui-tabs-nav li {
    display: inline-block;
    position: relative;
}

.ui-tabs-nav a {
    color: #bbb;
    padding: 7px 20px;
    display: block;
    background-color: #eee;
    background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#ececec));
    margin: 10px 10px 0px 0;
    border-color: #ccc;
    border-width: 1px;
    border-bottom-width: 0px;
    border-style: solid;
    -webkit-border-radius: 3px 3px 0 0;
    text-shadow:1px 1px 0 #fff;
}

.ui-tabs-selected a {
    background: #fff;
    color: #444;
    position: relative;
    bottom: -1px;
}

a {
    color: #4183C4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: block;
}

div#sidebar {
    display: block;
    float: left;
    width: 200px;
    background: #000;
    border-radius: 5px;
    margin: 0 20px 20px 0;
}

div#sidebar > ul {
    padding: 4px 4px 0 4px;
    
}

div#sidebar > ul > li {
    background: #444;
    border-radius: 3px;
    margin-bottom: 4px;
    color: #fff;
    font-size: 0.85em;
    padding: 4px;
}

div#sidebar > ul > li a {
    color: #fff;
}


div#sidebar > ul > li > ul > li {
    background: #4183C4;
    border-radius: 3px;
    padding: 4px;
    margin-top: 4px;
}

div#sidebar > ul > li > ul > li > a {
    display: block;
}

div#main {
    position: relative;
    display: block;
    float: left;
    width: 600px;
    background: #fff;
    -webkit-border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd #ccc #aaa #ccc;
    padding: 20px;
}

p.error {
    color: #f00;
}

table {
    border-spacing: 0;
}

table.tabular {
    width: 100%;
}

table.tabular tr {
    line-height: 1.6em;
    padding: 5px 0;
}

table.form tr {
    padding: 8px 0 10px 0;
    display: block;
    clear: both;
}

table.form tr td {
    width: 300px;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

label, th, table.tabular tr.heading, thead {
    text-transform: uppercase;
    font-size: 0.75em;
    color: #aaa;
    text-align: left;
}

label {
    display: block;
}

form select {
    font-size: 1.25em;
    line-height: 4em;
    vertical-align: middle;
    width: 280px;
}

input[type='button'], input[type='submit'], a.button {
    display:inline-block;height:28px;padding:0 10px 0 10px;font-size:0.875em;font-weight:bold;color:#333;text-shadow:1px 1px 0 #fff;white-space:nowrap;border:none;overflow:visible;cursor:pointer;border:1px solid #d4d4d4;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#f4f4f4;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f4f4f4',endColorstr='#ececec');background:-webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#ececec));background:-moz-linear-gradient(top,#f4f4f4,#ececec);
}

input[type='button']:hover, input[type='submit']:hover, a.button:hover {
    color:#fff;text-decoration:none;text-shadow:-1px -1px 0 rgba(0,0,0,0.3);border-color:#518cc6;border-bottom-color:#2a65a0;background:#599bdc;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#599bdc',endColorstr='#3072b3');background:-webkit-gradient(linear,left top,left bottom,from(#599bdc),to(#3072b3));background:-moz-linear-gradient(top,#599bdc,#3072b3);
}
input[type='button']:active, input[type='submit']:active, a.button:active{border-color:#2a65a0;border-bottom-color:#518cc6;background:#3072b3;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3072b3',endColorstr='#599bdc');background:-webkit-gradient(linear,left top,left bottom,from(#3072b3),to(#599bdc));background:-moz-linear-gradient(top,#3072b3,#599bdc);}

input[type='text'], input[type='password'], textarea {
    font-size: 1.0em;
    padding: 4px;
    border-radius: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #ddd #eee #ddd;
    width: 270px;
}

h3 {
}

table.tabular tr td {
    border-bottom: 1px solid #ddd;
    line-height: 2.2em;
    padding: 0 4px;
}

.dataTables_scrollBody {
    border-bottom: 1px solid #ddd;
}

span.green {
    color: #84cA3A;
}

span.red {
    color: #c55;
}

span.yellow {
    color: #ec8;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.6em;
}

h2 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 0.4em;
}

p {
    margin: 10px 0;
}

div#flash {
    position: absolute;
    right: 0;
    top: 0;
    -webkit-border-radius: 0 0 0 10px;
    background: #4183C4;
    color: #fff;
    display: block;
    line-height: 2em;
    padding: 0 20px;
    opacity: 0.80;
    text-align: center;
    /* Hide by default and animate open with JS */
    /*display: none;*/
}

.dataTables_info {
    font-size: 0.75em;
    color: #aaa;
    text-align: left;
    line-height: 2.6em;
}

.dataTablesWrapper label {
    float: left;
    display: inline;
}

.dataTables_length {
    float: left;
    line-height: 3em;
}

.dataTables_filter {
    float: right;
    line-height: 3em;
}

.dataTables_filter input {
    border-radius: 30px;
    width: 200px;
}

.sorting_desc {
}

.sorting_asc {
}

div.actions {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
    line-height: 2.3em;
}

.sorting_1 {
    background: #f6f6f6;
}

thead .sorting_asc, thead .sorting_desc {
    color: #333;
}

.even {
    background: #fafafa;
}

.even > .sorting_1 {
    background: #f0f0f0;
}
